@import "../../../styles/colors";
@import "../../../styles/fonts";

button {
  outline: none;
}

.number-picker-container {
  text-align: center;
}

.title-place-holder {
  font-family: $font-rubik;
}

.number-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.number-of-rooms {
  font-family: $font-rubik;
  margin: 0 1.5rem;
}

.number-button {
  border: none;
  border-radius: 30px;
  height: 3rem;
  padding: 0.5rem;
  width: 3rem;
}

.last-available {
  color: $error-text;
  font-family: $font-rubik;
}

.no-rooms-available {
  opacity: 0.5;
}